label#thumbnail input{
    display: none;
}

label#thumbnail.has-thumbnail{
    border: 0;
}

label#thmbnail.has-thumbnail img{
    display: none;
}
h3{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }

